---
import Theme from '../../layouts/Theme.astro';
---

<Theme>
    <h2>Privacy Policy</h2>

    <h3>Introduction</h3>
    <p>This is the Privacy Policy of Wattlewaggler &amp; Associates. (“the Site”, or “we”). Please read on to learn more about our data handling practices. Your use of the Site signifies that you agree with the terms of this Privacy Policy. If you do not agree with the terms of this Privacy Policy, do not use the Application.</p>

    <h3>Information the Site Collects</h3>
    <p>The Site collects anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.</p>
    <p>We use cookies to store session information for your convenience. You can block or delete cookies and still be able to use the Site, although if you do you will then your experience may be degraded. In order to take advantage of certain features of the Site, you may also choose to provide us with other personal information, such as your name or email address, but your decision to utilize these features and provide such data will always be voluntary.</p>

    <h3>Use of the Data</h3>
    <p>We only use your personal information to provide you information about the law firm Wattlewaggler &amp; Associates or to communicate with you about our services or the Site.</p>
    <p>The Site employs industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.</p>
    <p><strong>We do not share personal information you have provided to us without your consent.</strong></p>

</Theme>