---
import Theme from '../layouts/Theme.astro';
import { Image } from "astro:assets";
import theoHeadshot from "../image/wattlewaggler.png"
---

<Theme>
    <h2>About the Firm</h2>
    <p>Wattlewaggler &amp; Associates was founded in 315 to represent the every-man. With a commitment to quality and affordability, our mission is to deliver results for our clients, no matter what.</p>

    <p>Our offices are located on Main Ave in Downlow aboard Absalom Station. We are licenses to operate on all Pact Worlds for matters dealing with Absalom Pact and all related rights and responsibilties. We are also licensed to deal with the full spectrum of local legal and regulatory issues on Absalom Station.</p>

    <p>Despite the firm's recent founding, we have already won a high-profile victory: the Agrifinder dock worker settlement. Mr. Wattlewager, after being engaged on three separate occassions by employees of the firm, began to suspect a systemic problem with the company's overtime payments. Wattlewaggler &amp; Associates has several private investigators and other intelligence workers on retainer, and these resources were able to confirm Mr. Wattlewaggler's suspicious. After two years of discovery and pre-trial motions, Agrifinder was convinced to settle the matter and paid out over three million credits in owed overtime, with an additional million credits in damages awarded to those whom were underpaid.</p>

    <h3>Partners</h3>
    <Image src={theoHeadshot} alt="Photo of Theophilius Tobias Wattlewaggler, Esquire" class="img-thumbnail rounded float-left mr-3" height="180" />
    <p>Theophilus Tobias Wattlewaggler, Esquire is the founder and senior partner at Wattlewaggler &amp; Associates. He attended Absalon's own Kemanis University and graduated cum laude in 312. During the later part of his education, he worked for the prestigous Goodman, McGill &amp; Hamlin firm as a paralegal and then junior partner. During this period, Mr. Wattlewaggler developed the key relationships with Absalom Station officials that allow him to so effectively navigate the red-tape that often frustrates independent captain-owners.</p>

    <p>Once he saved up enough to afford the filing fees and retail space rent, Mr. Wattlewaggler founded this firm and has five years of successful litigation &amp; acquittals for his clients.</p>
    <p>Born aboard a merchant vessle in 296, Mister Wattlewaggler was raised by its crew. After the ship was lost to an unscrupulous customs agent in 305 over an incorrectly-levied import tariff, he decided to dedicate his life defending the rights of all common citizens throughout the Pact Worlds. In his free time, Mr. Wattlewaggler enjoys reading, the archaic passtime known as pipe tobacco, and fighting for your rights.</p>
</Theme>