---
import Theme from '../layouts/Theme.astro';
---

<Theme>
    <h2>Staff Login</h2>

    <p>Wattlewaggler &amp; Associates staff can log in here to view our confidential files.</p>

    <form>
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-lock">
                                <svg xmlns="http://www.w3.org/2000/svg" style="height: 1em; width: 1em; vertical-align: -0.125em; fill: black;" viewBox="0 0 448 512" aria-hidden="true"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg>
                            </span>
                        </div>
                        <input type="text" id="code" name="code" class="form-control form-control-lg" placeholder="Enter PIN..." aria-describedby="addon-lock">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto">
                <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>
    </form>
</Theme>