---
import Theme from '../layouts/Theme.astro';

---

<Theme>
    <h2>Testimonials</h2>

    <p class="lead">We promise a lot at Wattlewaggler &amp; Associates &mdash; see what our previous clients thought of us.</p>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tricky tariff problems are a thing of the past! </h4>
                <p class="card-text">I run a fast-courrier service importing delicacies from the Veskarium to Absalom Station. Nearly every time I docked, I'd have customs up me arse asking about quarantines and what taxes I'd paid at the other end, yadda yadda.</p>
                <p class="card-text">Well, after a whole shipment spoiled while I spent hours on paperwork, an important client got fed up. I couldn't go on like this; the station authorities were killing my business!</p>
                <p class="card-text">I heard about a ysoki that might be able to help. Turns out, I had applied for a Class Z12-F import license when I bought the transport, and what I actually needed as a Z12-F-A1. Mister Wattlewaggler made some calls, I signed a few documents, he bought me lunch, and it was SOLVED! I've made ten deliveries and customs clears me in minutes now. I can't thank you guys enough!</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Katara "Trailblazer" Radokama, small business owner</small>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pet Trust Funds Sorted Out</h4>
                <p class="card-text">Theo brought a pan of brownies down to my apartment and spent the whole afternoon working on my last will and testament. I had some very specific needs &mdash; each of my cats needed a separate trust fund so my grandkids could each take custody of one &mdash; but we powered through it!</p>
                <p class="card-text">I'll definitely call again if I ever need a new will! Thank you so much!</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Mary Smalls, Retired</small>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">False Accusation Gone, Reputation Restored</h4>
                <p class="card-text">I got picked up two months ago because somebody thought they saw me stealing bottles of wine on a security tape. A friend told me about Mr. Wattlewaggler, so I gave him a call.</p>
                <p class="card-text">After he got a chance to see the tape, he had everyone convinced they had the wrong man. Got the jerk that arrested me to re-watch, and lo and behold, he agreed that it wasn't me! They cut me loose ten minutes later <em>with an apology</em>! I don't know how he did it, but my mum was sure pleased.</p>
                <p class="card-text">That wasn't enough for Mr. Wattlewaggler, though. Convinced me to press charges of my own. Absalom ended up giving <em>me</em> a few thousand credits for the experience, heh.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Anonymous, an innocent victim of overzelous security</small>
            </div>
        </div>
    </div>
</Theme>